{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'cards/styles/oswald-font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cards/styles/angular-material.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cards/styles/main.css' %}" />
    {% block styles %}{% endblock %}

    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-aria.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-messages.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-material.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'cards/scripts/ng/angular-ui-router.min.js' %}"></script>

    {% block scripts %}{% endblock %}
</head>
<body ng-app="cards" ng-controller="search">
    <header>
        {% block menubutton %}{% endblock %}
        <h1>MTG Cards</h1>
        <nav>
            {% comment %}
            <ul>
                <li><a href="/cards/search">Card Search</a></li><li><a href="/collection">Collection</a></li><li><a href="#">Decks</a></li><li><a href="#">Login</a></li>
            </ul>
            {% endcomment %}
        </nav>
    </header>
    <main>
{% block content %}{% endblock %}
    </main>
    <footer>
        Magic: The Gathering and related images are owned by Wizards of the Coast. This website is unaffiliated with Wizards of the Coast.
    </footer>
</body>
