{% extends 'cards/base.html' %}

{% load staticfiles %}

{% load debug %}
{% load card_extras %}

{% block content %}
<md-content class="card-result">
    {% comment %}
    <div class="card-nav">
        <ul>
            <li><a href="#printings">Printings</a></li>
            <li><a href="#rulings-and-legal">Rulings &amp; Legalities</a></li>
            <li><a href="#languages">Languages</a></li>
        </ul>
    </div>
    {% endcomment %}
    <div class="card">
        <div class="card-image">
    	    {% with card.printedcard_set.first as pc %}
    	    <img src="{% static "" %}images/cards/{{pc.card_set.code}}/{{pc.image_name}}.jpg" alt="{{ card.name }}" width="{% if card.layout = "plane" or card.layout == "phenomenon" %}445px{% else %}312px{% endif %}" />
    	    {% endwith %}
        </div>
        <div class="card-info">
            <span class="mana-cost">
                {{ card.mana_cost|mana_cost_to_img }}<br />
                <abbr title="Converted Mana Cost">CMC</abbr> {{ card.cmc }}
            </span>
            <h2>{% block title %}{{ card.name }}{% endblock %}</h2>
            <p class="type">{{ card.type_text }}</p>
            <p class="rules-text">{{ card.text|rules_text_to_html }}</p>
            <ul>
                {% if card.power %}
                <li><abbr title="Power">P</abbr> / <abbr title="Toughness">T</abbr>: {{ card.power }} / {{ card.toughness }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <h3><a name="printings">Printings</a></h3>
    <div class="printings">
        <div>
        {% for pc in card.printedcard_set.all %}
            <div>
                <div>{{pc.card_set.name}}</div>
    	    <img src="{% static "" %}images/cards/{{pc.card_set.code}}/{{pc.image_name}}.jpg" alt="{{card.name}} ({{pc.card_set.name}})" width="{% if card.layout == "plane" or card.layout == "phenomenon" %}445px{% else %}312px{% endif %}" />
            </div>
        {% endfor %}
        </div>
    </div>
</md-content>
{% endblock %}

