<html ng-cloak ng-app>
<head>
    <link rel="stylesheet" href="/static/js/angular/angular-csp.css"/>
    <link rel="stylesheet" href="/static/styles/bootstrap/bootstrap.min.css"/>
</head>
<body>
    <div class="navbar navbar-fixed-bottom" ng-controller="authController"
         ng-init="user='{{user.username}}'">
        {% verbatim %}
        <div ng-show="user" class="navbar-form navbar-right">
            <input type="submit" class="btn btn-default" ng-click="logout()"
                   value="logout {{user}}"/>
        </div>
        <div ng-hide="user">
            <form id="id_auth_form" class="navbar-form navbar-right"
                  ng-submit="login()">
                <div class="form-group">
                    <input ng-model="username" required name="username"
                           type="text" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="password" required name="password" type="password" 
                           placeholder="password" class="form-control">
                </div>
                <div class="btn-group">
                    <input type="submit" class="btn btn-default" value="login">
                    <input type="submit" class="btn btn-default" value="register"
                           ng-click="register($event)">
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/static/scripts/jquery/jquery.min.js"></script>
<script src="/static/scripts/bootstrap/bootstrap.min.js"></script>
<script src="/static/scripts/angular/angular.min.js"></script>
<script src="/static/scripts/angular/angular-resource.min.js"></script>
<script src="/static/scripts/autofill-event/src/autofill-event.js"></script>
<script src="/static/scripts/app.js"></script>
</html>
{% endverbatim %}
