body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    max-width: 100%
}

header {
    background-color: #562a72; /* Dark Purple */
    border-bottom: 1px solid black;
    color: white;
    font-family: 'Oswald', sans-serif;
    line-height: 1.8em;
    margin: 0;
}

header > h1 {
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 0.15em 0 0.15em 0.75em;
    vertical-align: middle;
}

header > h1, header > nav, header > nav > ul {
    margin: 0;
}

header > nav, header > nav > ul {
    display: inline;
}

header > nav > ul > li {
    border-right: 1px solid white;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0.15em 0.25em;
}

header > nav > ul > li > a {
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    background-color: #744B8E; /* Lighter Purple */
}

footer {
    border-top: 1px solid #ddd;
    padding: 3px 5px;
    font-size: 0.8em;
    background-color: #f8f6d8;
}

/* MAIN */
main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.card-result {
    margin: 0 auto;
    max-width: 1024px;
}

.card, .printings {
    background-color: #dad6dd; /* Light grey  */
    border: 1px solid #bcabc7; /* Darker grey */
    border-radius: 7px;
    font-family: 'Oswald', sans-serif;
    margin: 1em;
    padding: 1em;
}

/* CARD INFO */

.card-info {
    display: block;
    font-family: sans-serif;
    padding: 0 1em;
    vertical-align: top;
    min-height:445px;
}

.card-info h2, .card-info .type, .mana-cost, h3 {
    font-family: 'Oswald', sans-serif;
    margin: 0 2px;
}

.card-info .type, .mana-cost, h3 {
    color: #433a48; /* Dark grey */
    font-size: 1em;
    font-weight: normal;
}

.card-image {
    margin-right: 1em; 
    display: inline-block;
    float: left;
}

.mana-cost {
    float: right;
}

/* SIDEBAR */
.content {
    display: flex;
    flex: 1;
}
.sidebar {
    padding: 16px;
    flex: 0 0 auto;
}
.results {
    padding: 16px;
    flex: 1;
}
.results a {
    text-decoration: none;
}
.results img {
    display: inline-block;
    vertical-align: top;
    margin: 2px 0;
}

/* SEARCH */
.search.sidebar {
    width: auto;
    max-width: none;
}
.main-color {
    background-color: #562a72 !important; /* Dark Purple */
}
.menu-button svg {
    fill: white;
}
.mana-search md-checkbox {
    border-radius: 5px !important;
    padding: 2px 4px;
    margin: 4px;
}
.mana-search md-checkbox .md-container {
    left: 4px !important;
}
.mana-search md-checkbox .md-label {
    margin-left: 24px !important;
}
.mana-search .md-checked .md-container .md-icon {
    background-color: #562A72;
}
.mana-colorless {
    background-color: #cac5c0 !important;
}
.mana-white {
    background-color: #f8f6d8 !important;
}
.mana-blue {
    background-color: #c1d7e9 !important;
}
.mana-black {
    background-color: #bab1ab !important;
}
.mana-red {
    background-color: #e49977 !important;
}
.mana-green {
    background-color: #a3c095 !important;
}

/* PRINTINGS */
.printings {
    text-align: center;
}

.printings > div, .printings > div > div {
    display: inline-block;
}

.printings > div > div > div {
    display: block;
}

/* BORDERS */
.border-black, .border-white, .border-silver {
    border: 5px solid;
    border-radius: 7px;
}
.border-black {
    border-color: black;
}
.border-white {
    border-color: white;
}
.border-silver {
    border-color: silver;
}
