{% extends 'cards/base.html' %}

{% load static %}
{% load debug %}
{% load card_extras %}
{% load url_builder %}

{% block title %}Search{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'cards/scripts/search.js' %}"></script>
{% endblock %}

{% block menubutton %}
  <md-button ng-click="toggleLeft()" class="md-icon-button md-primary menu-button" aria-label="Menu" hide-gt-md>
    <md-icon md-svg-icon="{% static 'images/icons/menu.svg' %}"></md-icon>
  </md-button>
{% endblock %}

{% block content %}
<md-content class="content">
    <md-sidenav
        class="md-sidenav-left search sidebar"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
        <form ng-submit="add()">

            <md-input-container>
              <label>Card Name</label>
              <input ng-model="cardName" ng-change="search()">
            </md-input-container>

            <md-button type="submit" class="md-accent md-raised main-color" hide>Add</md-button>
            
            <div class="mana-search">
                <md-checkbox 
                  class="md-fab mana-colorless"
                  ng-model="colorlessMana"
                  ng-change="search()"
                  aria-label="Colorless">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/c.svg' %}"></md-icon>
                </md-checkbox>

                <md-checkbox
                  class="md-fab mana-white"
                  ng-model="whiteMana"
                  ng-change="search()"
                  aria-label="White">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/w.svg' %}"></md-icon>
                </md-checkbox>

                <md-checkbox
                  class="md-fab mana-blue"
                  ng-model="blueMana"
                  ng-change="search()"
                  aria-label="Blue">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/u.svg' %}"></md-icon>
                </md-checkbox>

                <md-checkbox
                  class="md-fab mana-black"
                  ng-model="blackMana"
                  ng-change="search()"
                  aria-label="Black">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/b.svg' %}"></md-icon>
                </md-checkbox>

                <md-checkbox
                  class="md-fab mana-red"
                  ng-model="redMana"
                  ng-change="search()"
                  aria-label="Red">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/r.svg' %}"></md-icon>
                </md-checkbox>

                <md-checkbox
                  class="md-fab mana-green"
                  ng-model="greenMana"
                  ng-change="search()"
                  aria-label="Green">
                  <md-icon md-svg-src="{% static 'images/symbols/svg/g.svg' %}"></md-icon>
                </md-checkbox>
            </div>

{% verbatim %}
            <md-autocomplete
              md-autoselect="true"
              ng-disabled="isDisabled"
              md-no-cache="noCache"
              md-selected-item="selectedSet"
              md-search-text-change="searchTextChange(setName)"
              md-search-text="setName"
              md-selected-item-change="search()"
              md-items="item in querySearch(setName, sets.results)"
              md-item-text="item.name"
              md-min-length="0"
              placeholder="Set">
            <md-item-template>
              <span md-highlight-text="setName" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
              No sets matching "{{setName}}" were found.
            </md-not-found>
            </md-autocomplete>

            <md-autocomplete
              md-autoselect="true"
              md-selected-item="selectedType"
              md-search-text="typeName"
              md-selected-item-change="search()"
              md-items="item in querySearchArray(typeName, types)"
              md-item-text="item"
              md-min-length="0"
              placeholder="Type">
            <md-item-template>
              <span md-highlight-text="typeName" md-highlight-flags"^i">{{item}}</span>
            </md-item-template>
            <md-not-found>
              No types matching "{{typeName}}" were found.
            </md-not-found>
            </md-autocomplete>
        </form>
    </md-sidenav>
    <div class="results">
        <div>
            <span ng-repeat="card in cardList.results">
                <a href="{{card.get_absolute_url}}">
                    <img ng-if="card.printed_cards[0].img_url[0] && card.layout != 'plane' && card.layout != 'phenomenon'" src="{% endverbatim %}{% static 'images/cards/{{card.printed_cards[0].img_url[0]}}' %}{% verbatim %}" alt="{{card.name}}" width="212px" class="border-{{card.printed_cards[0].border}}" />
                    <img ng-if="card.printed_cards[0].img_url[0] && (card.layout === 'plane' || card.layout === 'phenomenon')" src="{% endverbatim %}{% static 'images/cards/{{card.printed_cards[0].img_url[0]}}' %}{% verbatim %}" alt="{{card.name}}" width="439px" />
                </a>
            </span>
        </div>
    </div>
    <div class="card-list">
    </div>
</md-content>
{% endverbatim %}
{% endblock %}
