{% extends 'cards/base.html' %}

{% load static %}
{% load debug %}
{% load card_extras %}
{% load url_builder %}

{% block title %}Search{% endblock %}
{% block content %}
<form name="" method="get" action=".">
    {% comment %}{% csrf_token %}{% endcomment %}
    <table>
        <tr>
            <th>
                <label for="{{ form.q.id_for_label }}">Name:</label>
            </th>
            <td>{{ form.q }}</td>
        
            <th rowspan="4">{{ form.supertypes.label_tag }}</th>
            <td rowspan="4">{{ form.supertypes }}</td>
        </tr>
        <tr>
            <th>{{ form.color.label_tag }}</th>
            <td>
	    {% for item in form.color %}
		<label for="{{ item.id_for_label }}">
		    <span class="color-item">{{ item.tag }}</span>
		    {{ item.choice_label|color_to_img }}
		</label>
	    {% endfor %}
            </td>
        </tr>
        <tr>
            <th>
                <label for="{{ form.cmc.id_for_label }}">
                    <abbr title="Converted Mana Cost">{{ form.cmc.label }}</abbr>
                </label>
            </th>
            <td>{{ form.cmc }}</td>
        </tr>
        <tr>
            <th>{{ form.sets.label_tag }}</th>
            <td>{{ form.sets }}</td>
        </tr>
        <tr>
            <th>{{ form.layout.label_tag }}</th>
            <td>{{ form.layout }}</td>
            <th>{{ form.types.label_tag }}</th>
            <td>{{ form.types }}</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <th>{{ form.subtypes.label_tag }}</th>
            <td>{{ form.subtypes }}</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Search</button>
            </td>
        </tr>
    </table>
</form>

{% if object_list %}
    <p>{{ page_obj.end_index }} of {{ paginator.count }}</p>
    <table>
        <thead>
            <th>Name</th>
            <th>Mana Cost</th>
            <th>Types</th>
        </thead>
        <tbody>
    {% for result in object_list %}
        {% with result.object as card %}
        <tr>
            <td>
                <a href="{{ card.get_absolute_url }}">{{ card.name }}</a>
            </td>
            <td>
                {{ card.mana_cost|mana_cost_to_img }}
            </td>
            <td>
                {{ card.type_text }}
            </td>
        </tr>
	{% endwith %}
    {% empty %}
        <tr>
            <td colspan="3">No results found.</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% if page_obj.has_previous or page_obj.has_next %}
        <div>
            {% if page_obj.has_previous %}
                <a href="?{% query_transform request page=page_obj.previous_page_number %}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
            |
            {% if page_obj.has_next %}
                <a href="?{% query_transform request page=page_obj.next_page_number %}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
